# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

logs/
.cache/

edgedetect/edgedetect-baseline/.vscode/

edgedetect/edgedetect-baseline/.wsdata/

edgedetect/edgedetect-baseline/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/hls/

edgedetect/edgedetect-baseline/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/reports/

edgedetect/edgedetect-baseline/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/edgedetect.xo

edgedetect/edgedetect-baseline/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster.hlscompile_summary

edgedetect/edgedetect-baseline/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster.hlsrun_package_summary

*.log

edgedetect/edgedetect-no-rgb/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/hls/

edgedetect/edgedetect-no-rgb/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/reports/

edgedetect/edgedetect-no-rgb/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/sw_emu/

*.xo

*.hlscompile_summary

*.hlsrun_package_summary

edgedetect/edgedetect-rgb-only/.theia/

edgedetect/edgedetect-rgb-only/.vscode/

edgedetect/edgedetect-rgb-only/.wsdata/

edgedetect/edgedetect-rgb-only/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/sw_emu/

edgedetect/edgedetect-rgb-only/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/reports/

edgedetect/edgedetect-rgb-only/EdgedetectBaseline_cluster/EdgedetectBaseline_cluster/hls/

*.hlsrun_csim_summary

amd-vadd/.wsdata/

exploration-xrt/xrt-exploration_dummy_kernel/dummy_kernel/

llama2/llama2-cpu/.theia/

llama2/llama2-cpu/.wsdata/

llama2/llama2-cpu/llama2_cluster/llama2_cluster/

llama2/llama2-recurrent/.vscode/

llama2/llama2-recurrent/.wsdata/

llama2/llama2-recurrent/llama2_cluster/llama2_cluster/

llama2/llama2-instrumented/stories15M.bin

llama2/llama2-instrumented/llama2

llama2/llama2-instrumented/.~lock.loop_iterations_summary.csv#

llama2/llama2-instrumented/tokenizer.bin

llama2/llama2-instrumented/loop_iterations.csv

llama2/llama2-golden/stories15M.bin

llama2/llama2-golden/tokenizer.bin

llama2/.vscode/

llama2/llama2-everything/.vscode/

llama2/llama2-everything/.wsdata/

llama2/llama2-everything/llama2_cluster/llama2_cluster/

cortexsuite-disparity/disparity-malloc-region/.theia/

cortexsuite-disparity/disparity-malloc-region/.wsdata/

cortexsuite-disparity/disparity-malloc-region/disparity_cluster/disparity_cluster/

cortexsuite-disparity/disparity-old/.wsdata/

cortexsuite-disparity/disparity-old/.theia/

cortexsuite-disparity/disparity-old/DisparityMalloc_kernel/DisparityMalloc_kernel/

cortexsuite-disparity/disparity-malloc-arg/.theia/

cortexsuite-disparity/disparity-malloc-arg/.wsdata/

cortexsuite-disparity/disparity-malloc-arg/disparity_cluster/disparity_cluster/

cortexsuite-disparity/disparity-malloc-static/.theia/

cortexsuite-disparity/disparity-malloc-static/.wsdata/

cortexsuite-disparity/disparity-malloc-static/disparity_cluster/disparity_cluster/

rosetta-spam-filter/spam-filter-cpu/.theia/

rosetta-spam-filter/spam-filter-cpu/.wsdata/

rosetta-spam-filter/spam-filter-cpu/spam-filter_cluster/spam-filter_cluster/

rosetta-spam-filter/spam-filter-with-debugging/.wsdata/

rosetta-spam-filter/spam-filter-with-debugging/spam-filter_cluster/spam-filter_cluster/
