debug=1
save-temps=1
temp_dir=cluster
report_dir=cluster/reports
log_dir=cluster/logs

[advanced]
misc=solution_name=cluster

[connectivity]
nk=cluster:1:cluster_1

#[clock]
#freqHz=75000000:cluster_1