debug=1
save-temps=1
temp_dir=cluster
report_dir=cluster/reports
log_dir=cluster/logs

[advanced]
misc=solution_name=cluster

[connectivity]
nk=cluster:1:cluster_1

[profile]
data=all:all:all
stall=all:all:all

#[clock]
#freqHz=150000000:cluster_1
[vivado]
prop=run.config_hw_emu.elaborate.xelab.more_options=-gcc_compile_options "-Wno-error=incompatible-pointer-types -Wno-error=implicit-function-declaration -Wno-error=implicit-int -Wno-error=int-conversion"
