debug=1
save-temps=1
temp_dir=cluster
report_dir=cluster/reports
log_dir=cluster/logs

[advanced]
misc=solution_name=cluster

[connectivity]
nk=cluster:1:cluster_1

[profile]
data=all:all:all
stall=all:all:all

#[clock]
#freqHz=150000000:cluster_1